# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

public/sounds/*
!public/sounds/.gitkeep

public/data/*
!public/data/.gitkeep

public/svg/*
!public/svg/.gitkeep

.gradle/
android.keystore
app-release-bundle.aab
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
app/
build.gradle
build/
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
manifest-checksum.txt
settings.gradle
store_icon.png
twa-manifest.json
